/* expert-profile.component.css */

.card {
    width: 50%;
    margin: auto;
    padding: 20px;
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  .p-inputtext {
    width: 100%;
  }
  
  .p-button {
    margin-top: 20px;
  }
  
  .p-error {
    font-size: 12px;
    color: #f44336;
  }